:root{
    --main-color:#CF0A0A;
    --div-background:#3F0071;
    --background-color:#001122;
    --p-color:#000000;
    --main-duration:0.4s;
    
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


body{
    font-family: 'Dancing Script', cursive;
    font-family: 'Martian Mono', monospace;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Oswald', sans-serif;
    font-family: 'Red Hat Display', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Rosario', sans-serif;
    font-family: 'Kanit', sans-serif;
    text-transform: capitalize;
    background-color: #001122;
}
ul{list-style: none;}
html{
    scroll-behavior: smooth;
}
::-webkit-scrollbar{
    width: 15px;
}
::-webkit-scrollbar-track{
    background-color: white;
}
::-webkit-scrollbar-thumb{
    background-color: #CF0A0A;
}
::-webkit-scrollbar-thumb:hover{
    background-color: var(--div-background);
}
.container{
margin-left: auto;margin-right: auto;
padding-left: 15px;
padding-right: 15px;}


/* Mobile */

@media (min-width: 767px) {
    .container{width: 750px;}
}


/* Medium Screens */

@media (min-width: 992px) {
    .container{width: 970px;}
}

/* Large Screens */

@media (min-width: 1200px) {
    .container{width: 1170px;}
}

/* Custom */

@media (max-width: 1199px) {
}




/* special-heading  */
.special-heading{text-align: center;
    width: 80%;
    color: white;
    margin-left: auto;
    margin-right: auto;}
    .special-heading h2{font-size: 25px;
    margin-top: 40px;
    margin-bottom: 40px;}
    .special-heading h3{font-size: 40px;
    font-weight: 500;
    margin-bottom: 40px;
    position: relative;}
    .special-heading h3::after {
        content: "";
        height: 3px;
        width: 22%;
        position: absolute;
        background-color: var(--main-color);
        bottom: -20px;
        left: 40%;
    }
    .special-heading p{color: #eee;
    font-size: 20px;
    margin-bottom: 50px;
    margin-top: 70px;}
    /* special-heading  */


/* start header     */
header{
    background-color: var(--background-color);
    background-size: contain;
    padding: 20px 30px;
    position: relative;

}
@media (max-width:767px) {
    header{
        background-position: bottom;
    }
    
}
header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
}
.logo{
    font-size: 40px;
    color: white;
    text-align: center;
}
.nav{flex: 1;
display: flex;
justify-content: flex-end;
align-items: center;}
.nav ul {
    display: flex;
    justify-content: flex-end;
}
.nav ul li {display: inline-block;
margin-right: 30px;}
.nav ul li a{
    text-decoration: none;
    color: white;
    transition: var(--main-duration);
    -webkit-transition: var(--main-duration);
    -moz-transition: var(--main-duration);
    -ms-transition: var(--main-duration);
    -o-transition: var(--main-duration);
    text-transform: uppercase;
}
.nav ul li .active {
    color: var(--main-color);
}
.nav ul li a:hover{
    color: var(--main-color);

}
.nav i {
    font-size: 30px;
    color: var(--main-color);
    display: none;
}
@media (max-width:767px) {
    .nav i {display: flex;}
    header .nav ul {display: none;}
    header .nav i:hover + ul {
        display: flex;
        z-index: 1;
    }
    .nav ul {
        display: flex;
    position: absolute;
    top: 100%;
    flex-direction: column;
    width: 100%;
    background-color: var(--background-color);
    left: 0;
    }
    .nav ul li {
        margin-bottom: 6px;
        padding: 15px;
        position: relative;
        text-align: center;
        margin-right: 0px;
    }
    .nav ul li::after{
        content: "";
        height: 1px;
        width: calc(100% + 31px);
        background-color: var(--main-color);
        bottom: -6px;
        position: absolute;
        left: 0px;
    }
}


/* end header     */

/* start landing     */
.landing {
    height: calc(100vh - 86px );
    background-color: var(--background-color);
    display: flex;
    justify-content: center;
    align-items: center;

}
.landing {
    display: flex;
    justify-content: center;
    align-items: center;
}
.landing  .box{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    color: white;
    flex-direction: column;
    padding: 20px;

}

.landing  .line-1{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.landing  .line-1 .num{
    font-size: 22px;
    color: #777;
    padding-bottom: 11px;
    margin-right: 27px;
    width: 5px;
    padding-top: 10px;
    font-family: fantasy;
}

.landing  .line-1 .line1{
    color: #CF0A0A;
    width: 660px;
    font-size: 50px;
    font-weight: 900;
}
.landing  .line-1 span{
    color: white;
    width: 660px;
    font-size: 50px;
    font-weight: 900;
    font-family: 'Rosario', sans-serif;
}
.landing  .line-1 .line2{
    color: white;
    width: 660px;
    font-size: 35px;
    font-weight: 700;
}
.landing  .line-1 .line3{
    color: white;
    width: 660px;
    font-size: 35px;
    font-weight: 700;
}
.landing  .line-1 .line4{
    color: white;
    width: 660px;
    font-size: 35px;
    font-weight: 700;
    font-family: 'Rosario', sans-serif;
}
.landing  .line-1 .line5{
    color: #777;
    width: 660px;
    font-size: 20px;
}

@media (max-width:767px) {
    .landing .box{
        width: 100%;
    }
    .landing  .line-1{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }
    .landing  .line-1 .num{
        font-size: 20px;
        color: #777;
        padding-bottom: 11px;
        margin-right: 27px;
        width: 5px;
        padding-top: 10px;
        font-family: 'Courier New', Courier, monospace;}
        .landing  .line-1 span{
            color: white;
            width: 660px;
            font-size: 20px;
            font-weight: 900;
        }
    .landing  .line-1 .line1{
        color: #CF0A0A;
        font-size: 20px;
        font-weight: 900;
    }
    .landing  .line-1 .line2{
        color: white;
        font-size: 15px;
        font-weight: 700;
    }
    .landing  .line-1 .line3{
        color: white;
        font-size: 15px;
        font-weight: 700;
    }
    .landing  .line-1 .line4{
        color: white;
        font-size: 15px;
        font-weight: 700;
    }
    .landing  .line-1 .line5{
        color: #777;
        font-size: 12px;
    }
    
    
}
.landing{
    margin-bottom: 200px;
}

/* end landing     */



/* start services */  
.services{
    margin-bottom: 100px;
    color: white;
    height: 100vh;

    padding-top: 50px;
    
}
.services .container .services-grid{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(200px,1fr));
    gap: 40px;
    margin-bottom: 20px;
    margin-top: 40px;
} 
.services .services-grid .col {
    text-align: center;
}
.services .services-grid .col i{
    font-size: 50px;
    margin-bottom: 30px;
    color: var(--main-color);
}
.services .services-grid .col h2{
    margin-bottom: 20px;
    font-size: 25px;
    font-weight: 900;
}
.services .services-grid .col p{
    color: #777;
    font-size: 20px;
}


@media (max-width:767px) {
    .services .container .services-grid{
        grid-template-columns: minmax(200px,1fr);
        gap: 80px;

    }
}

/* end services */    


/* Start Work    */
.work{
    margin-bottom: 200px;
    color: white;
    height: 120vh;

    padding-top: 50px;
}
.work .col img {
    height: 200px;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    margin-bottom: 15px;
}
.work .container .work-grid{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(400px,1fr));
    gap: 60px;
    margin-bottom: 20px;
    margin-top: 40px;
    text-align: center;
} 
.work .container .work-grid h2 {
    font-size: 30px;
    margin-bottom: 40px;
}
.work .container .work-grid a {
    background-color: var(--div-background);
    color: white;
    padding: 20px;
    border-radius:6px ;
    -webkit-border-radius:6px ;
    -moz-border-radius:6px ;
    -ms-border-radius:6px ;
    -o-border-radius:6px ;
    text-decoration: none;
    transition: var(--main-duration);
    -webkit-transition: var(--main-duration);
    -moz-transition: var(--main-duration);
    -ms-transition: var(--main-duration);
    -o-transition: var(--main-duration);
}
.work .container .work-grid a:hover{
    color: var(--main-color);
} 
@media (max-width:767px) {
    .work .container .work-grid{
        grid-template-columns: minmax(200px,1fr);
        gap: 80px;

    }
    .work .col img {
        height: 150px;
    }

}
/* end Work    */

/* start about   */
.about{
    color: white;
    margin-bottom: 100px;
    height: 200vh;

    padding-top: 50px;
}
.about-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(250px,1fr));
    gap: 40px;
}

.special-heading{
    margin-bottom: 60px;
}
.special-heading span{
    
    font-size: 40px;
    font-weight: 600;
}
.about-grid .col {text-align: center;}
.about-grid .col .out{
    background-color: #ddd;
    border-radius: 22px;
    -webkit-border-radius: 22px;
    -moz-border-radius: 22px;
    -ms-border-radius: 22px;
    -o-border-radius: 22px;
    height: 40px;
    width: 100%;
    margin-bottom: 20px;
    position: relative;
    padding: 10px;
}
.about-grid .col .out span{
    height: calc(100% - 10px);
    background-color: var(--main-color);
    position: absolute;
    left: 5px;
    top: 5px;
    border-radius: 22px;
    -webkit-border-radius: 22px;
    -moz-border-radius: 22px;
    -ms-border-radius: 22px;
    -o-border-radius: 22px;
    text-align: center;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
@media (max-width:767px) {
    .special-heading span{
    
        font-size: 25px;
        font-weight: 600;
    }
    .about-grid {
        display: grid;
        grid-template-columns:minmax(100px,1fr);}

}
/* end about   */


/* start contact     */
.contact{
    color: white;
    margin-bottom: 100px;
    height: 200vh;

    padding-top: 50px;
}
.contact .contact-grid{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(250px,1fr));
    gap: 70px;

}
.contact-grid .col {
    text-align: center;
}
.contact-grid .col i{
    font-size: 70px;
    margin-bottom: 30px;
}
.contact-grid .col:first-child i {
    color:#25d366 ;
}
.contact-grid .col:nth-child(2) i {
    color:var(--main-color);
     
}
.contact-grid .col:last-child i {
    color:#0077b5;
     
}
.contact-grid .col:first-child h2{
    color:#25d366 ;
}
.contact-grid .col:nth-child(2) h2 {
    color:var(--main-color);
     
}
.contact-grid .col:last-child h2 {
    color:#0077b5;
     
}
.contact-grid .col h2{
    font-size: 30px;
    margin-bottom: 30px;

}
.contact-grid .col a{
    text-decoration: none;
    color: white;
    transition: var(--main-duration);
    -webkit-transition: var(--main-duration);
    -moz-transition: var(--main-duration);
    -ms-transition: var(--main-duration);
    -o-transition: var(--main-duration);
    font-size: 20px;

}
.contact-grid .col a:hover{
    color:var(--main-color) ;
    
}
.contact{
    margin-bottom: 100px;
}



/* end contact     */


/* start footer                         */
footer{
    background-color: var(--background-color);
    background-image: url(../img/—Pngtree—set\ of\ creativity\ doodle\ element_5312608.png);
    background-size: contain;
    color: white;
    padding-top: 50px;
    padding-bottom: 30px;
    text-align: center;
    position: relative;
}
footer .text {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
footer .social i {
    margin-right: 20px;
    font-size: 20px;

    
}
footer .social{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
footer .container a i {
    color:white;
    font-size: 30px;
    background-color:var(--main-color);
    padding: 10px;
    position:absolute;
    bottom: 0;
    left: 10%;
}
.special-heading{
    margin-bottom: 100px;
}






/* start footer                         */
